<div class="main-row">
  <div class="left-section">
    <div class="panel">
      <div class="panel-header">
        <h6>Employee List</h6>
      </div>
      <div class="panel-body">
        <div class="content-row">
          <div class="full-width">
            <table class="data-table">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email-id</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                  <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.contactNo}}</td>
                    <td>{{item.emailId}}</td>
                    <td>
                      <button class="edit-button" (click)="onEdit(item)">Edit</button>
                      <button class="delete-button space-left" (click)="onDelete(item.empId)">Delete</button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="panel">
      <div class="panel-header">
        New Employee
      </div>
      <div class="panel-body">
        <form action="" [formGroup]="employeeForm">
          <div class="content-row">
            <div class="half-width">
              <label for="">Name</label>
              <input type="text" formControlName="name" class="input-field">
              <div class="error-text">
                @if(employeeForm.controls['name'].touched){
                  @if(employeeForm.controls['name'].errors?.['required']){
                    <span>Name is required</span>
                  }
                }
              </div>
            </div>
            <div class="half-width">
              <label for="">Email-id</label>
              <input type="text" formControlName="emailId" class="input-field">
            </div>
            <div class="half-width">
              <label for="">Contact N0</label>
              <input type="text" formControlName="contactNo" class="input-field">
            </div>
            <div class="half-width">
              <label for="">City </label>
              <input type="text" formControlName="city" class="input-field">
            </div>
            <div class="half-width">
              <label for="">State</label>
              <input type="text" formControlName="state" class="input-field">
            </div>
            <div class="half-width">
              <label for="">Pin Code</label>
              <input type="text" formControlName="pinCode" class="input-field">
              <div class="error-text">
                @if(employeeForm.controls['pinCode'].touched){
                  @if(employeeForm.controls['pinCode'].errors?.['required']){
                    <span>pinCode is required</span>
                  }
                  @if(employeeForm.controls['pinCode'].errors?.['minlength']){
                    <span>Min 6 char required</span>
                  }
                }
              </div>
            </div>
            <div class="full-width">
              <label for="">Address</label>
              <textarea class="input-field" formControlName="address"></textarea>
            </div>
          </div>
          <div class="content-row">
            <div class="half-width center-text">
              <button class="cancel-button" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="half-width center-text">
              @if(employeeForm.controls['empid'].value == '1'){
                <button class="save-button" [disabled]="employeeForm.invalid" (click)="onSave()">Save Employee</button>
              } @else {
              <button class="update-button" (click)="onUpdate()">Update Employee</button>
              }
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet />